<p id="notice"><%= notice %></p>

<h1>Listing Speedtests</h1>

<table>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Ssid</th>
      <th>Ping</th>
      <th>Upload</th>
      <th>Download</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speedtests.each do |speedtest| %>
      <tr>
        <td><%= speedtest.hostname %></td>
        <td><%= speedtest.ssid %></td>
        <td><%= speedtest.ping %></td>
        <td><%= speedtest.upload %></td>
        <td><%= speedtest.download %></td>
        <td><%= speedtest.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Speedtest', new_speedtest_path %> -->
